:root {
  --font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
html {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: var(--font-family);
}
nav {
  animation: 1s ease-in 0s 1 fadeIn;
}

.nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav-item a:hover {
  position: relative;
  top: 0.1rem;
}
.nav-item a:active {
  position: relative;
  top: 0.2rem;
}
.nav-link:hover {
  position: relative;
  top: 5rem;
}
.nav-item:nth-of-type(2),
.nav-item:nth-of-type(3),
.nav-item:nth-of-type(4),
.nav-item:nth-of-type(5) {
  border-left: none;
}

.navbar-collapse.show,
.collapsing {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px 2px 15px 15px;
}

header {
  /* background: url(./images/reservoir.jpeg) no-repeat center center fixed; */

  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(./images/landing_placeholder.jpg) no-repeat center center fixed;
  /* filter: brightness(50%); */
  /* background-blend-mode: darken; */
  /* background: url(./images/buhl_kite_field.png) no-repeat center -190px fixed; */
  /* background: url(./images/buhl_activities_building.png) no-repeat center -190px fixed; */
  margin: 0 auto;
  height: 96vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* header::after {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#header-div {
  position: relative;
  bottom: 5rem;
  /* background: rgba(240, 101, 67, 1); */

  border-radius: 25px;
  max-width: fit-content;

  /* transition: 1s ease-in 0s 1 appearFromNot; */
  /* border: 1px solid black; */
  /* backdrop-filter: blur(50px); */
}

/* 0c3227 */

/* @keyframes appearFromNot {
  0% {
    width: 10000px;
    height: 1000px;
  }
  100% {
    width: fit-content;
    height: auto;
  }
} */
.landing-intro {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  animation: 1s ease-in 0s 1 fadeIn;
  /* animation: 1s ease-in 0s 1 appearFromNot; */

  backdrop-filter: blur(1px);
  /* -webkit-text-stroke: 2px black; */
  /* font-weight: 800; */

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 6.5rem;
  font-weight: 500;
  /* font-size: 2.2rem; */
  /* color: #0d1b2a; */
  /* filter: brightness(150%); */
}
#tour-btn-div {
  justify-self: flex-end !important;
  align-self: flex-end;
  animation: 1s ease-in 0s 1 fadeIn;
}
#tour-btn-arrow {
  position: relative;
  top: 0.3rem;
}

/****************************** SECTION 1 (AMENITIES) ******************************/
section:nth-of-type(1) {
  margin-top: 6rem;
  margin-bottom: 6rem;
  background: url(./images/courthouse.jpg) no-repeat,
    linear-gradient(
      180deg,
      rgba(190, 223, 255, 1) 0%,
      rgba(202, 232, 255, 0.8) 25%,
      rgba(243, 253, 254, 0.3) 60%
    );
  height: 96vh;
  display: flex;
  justify-content: end;
}
.diagonal-box-1 {
  transform: skew(-20deg);
  width: 70%;
  position: relative;
  left: 11rem;
}
.deskewed-box-work-section {
  /* position: relative; */

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transform: skew(20deg);
}

.deskewed-box-work-section div {
  max-width: 63%;
  /* max-width: 65ch; */
}
.deskewed-box-work-section div p {
  max-width: 65ch;
}

#work-button i {
  position: relative;
  top: 0.35rem;
}

/****************************** SECTION 2 (AMENITIES) ******************************/

section:nth-of-type(2) {
  /* margin-top: 5rem; */
  background: url(./images/buhl_julia_bridge.png) no-repeat right;

  height: 96vh;
  display: flex;
  justify-content: start;
}
.diagonal-box-2 {
  transform: skew(20deg);
  width: 70%;
  position: relative;
  right: 11rem;
}
.deskewed-box-amenities-section {
  /* position: relative; */

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  left: 2rem;
  /* position: relative; */
  transform: skew(-20deg);
}

.deskewed-box-amenities-section div {
  max-width: 63%;
}

.deskewed-box-amenities-section div p {
  max-width: 65ch;
}

#amenities-button i {
  position: relative;
  top: 0.35rem;
}
/****************************************************************************************/
/****************************** SECTION 3 (LIVE) ******************************/
section:nth-of-type(3) {
  /* margin-top: 20rem; */
  margin-top: 6rem;
  margin-bottom: 6rem;
  background: url(./images/family_1.jpg) no-repeat 20%;
  background-position: -10% 60%;
  background-size: 55%;
  height: 96vh;
  display: flex;
  justify-content: end;
}
.diagonal-box-3 {
  transform: skew(-20deg);
  width: 70%;
  position: relative;
  left: 11rem;
}
.deskewed-box-live-section {
  /* position: relative; */

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transform: skew(20deg);
}

.deskewed-box-live-section div {
  max-width: 63%;
  /* max-width: 65ch; */
}
.deskewed-box-live-section div p {
  max-width: 65ch;
}

#live-button i {
  position: relative;
  top: 0.35rem;
}
/****************************** SECTION 4 (Parallax) ******************************/
section:nth-of-type(4) {
  background: url(./images/windy_road.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* box-sizing: border-box; */
  /* border-top: 5px solid #0d1b2a93; */
  /* border-bottom: 5px solid #0d1b2a93; */
  box-shadow: 2px 3px 38px 0px rgba(0, 0, 0, 0.75);

  /* border-top: 10px solid #246eb9; */
  width: 100%;
  min-height: 35rem;
}

/****************************** SECTION 5 (Footer) ******************************/
footer {
  /* margin-top: 6rem; */
  min-height: 56vh;
  width: 100%;
  background: #f8f9fa;
  background: url(./images/Homegrown.png) no-repeat center, #f06543;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.75) inset;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div {
  margin-top: 5.5rem;
}

footer div:nth-of-type(1) {
  margin-left: 5rem;
  margin-top: 6rem;

  width: calc(100% / 3);
  /* position: relative; */
  /* top: 2rem; */
}

#footer-email-input {
  margin-top: 4rem;
}

/* footer div:nth-of-type(1) form {
  position: relative;
  bottom: 1rem;
} */

footer div:nth-of-type(2) {
  width: calc(100% / 3);
}

footer div:nth-of-type(3) {
  margin-right: 8rem;
  width: calc(100% / 3);
}

footer h2 {
  position: relative;
  color: #0d1b2a;
  color: #f8f9fa;
}

footer h2 span {
  position: absolute;
  bottom: 5.5rem;
  left: 0.5rem;
  transform: rotate(-11deg);
}

form div:nth-of-type(1) {
  width: 100%;
  margin-left: 0;
}

.form-control {
  /* border: none; */
  /* border-bottom: 1px solid; */
  border-radius: 0;

  background-color: #f06543;
  line-height: 3rem;
  font-size: 1.8rem;
  border-color: #362c28;
  color: #362c28;
}

.form-control::placeholder {
  color: #362c28d5;
}

.btn-outline-secondary {
  border-color: #362c28;
  /* border-left: none;
  border-right: none;
  border-top: none; */
  background-color: #0d6efd;
  font-weight: 700;
  border-radius: 0;
  color: #f8f9fa;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-outline-secondary:hover {
  background-color: #f8f9fa;
  color: #362c28;
  border-color: black;
  /* position: relative; */
}

#footerLinkList {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
}

#footerLinkList nav {
  margin: 0;
  margin-top: 1rem;
}

#footerLinkList nav ul li {
  padding-bottom: 0.6rem;
}

.footer-list-item {
  text-decoration: none;
  color: #246eb9;
  font-size: 1.5rem;
}

.footer-list-item span {
  font-size: 1.1rem;
}

.footer-list-item:hover {
  /* color: #f8f9fa; */
  text-decoration: underline;
  position: relative;
  top: 0.075rem;
}
.footer-list-item:active {
  color: #f8f9fa;
}

/* #mobileFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
} */

/* .btn-outline */
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/
/*********************************** @Media Queries *************************************/

@media only screen and (max-width: 1800px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url(./images/landing_placeholder.jpg) scroll center center;
  }

  footer h2 span {
    transform: rotate(0deg);
    bottom: 6rem;
  }
}

@media only screen and (max-width: 1700px) {
  .form-control {
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1600px) {
  .footer-list-item {
    text-decoration: none;
    color: #246eb9;
    font-size: 1.1rem;
  }

  .footer-list-item span {
    font-size: 0.7333rem;
  }
}

/* media screen 1428 footer h2 span bottom 12 rem */
@media only screen and (max-width: 1428px) {
  footer h2 span {
    transform: rotate(0deg);
    bottom: 9rem;
  }
}

@media only screen and (max-width: 1380px) {
  footer h2 span {
    transform: rotate(0deg);
    bottom: 12rem;
  }
}
@media only screen and (max-width: 1330px) {
  footer h2 span {
    transform: rotate(0deg);
    bottom: 5rem;
    left: 6.6rem;
  }

  footer div:nth-of-type(1) h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  footer {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(./images/Homegrown.png) no-repeat center, #f06543;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer div {
    margin-top: 0;
  }

  footer div:nth-of-type(1) {
    margin: 0;

    width: 100%;
  }

  footer div:nth-of-type(2) {
    width: 100%;
  }

  footer div:nth-of-type(3) {
    margin: 0;
    width: 100%;
  }

  footer h2 {
    position: relative;

    color: #f8f9fa;
  }

  #mobileFooter {
    margin-top: 2rem;
  }

  #mobileFooter p {
    padding-top: 1rem;
  }

  footer form {
    padding-bottom: 2rem;
  }

  .footer-list-item {
    color: #f8f9fa;
    text-decoration: underline;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  section:nth-of-type(1),
  section:nth-of-type(2),
  section:nth-of-type(3) {
    background: #f8f9fa;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section:neth-of-type(4) {
    background: url(./images/windy_road.jpg) scroll center center;

    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
  }

  .diagonal-box-1,
  .diagonal-box-2,
  .diagonal-box-3 {
    transform: skew(0deg);
    width: 100%;
    position: relative;
    left: 0rem;
    right: 0rem;
  }
  .deskewed-box-work-section,
  .deskewed-box-amenities-section,
  .deskewed-box-live-section {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    right: 0rem;
    left: 0rem;
    transform: skew(0deg);
  }
  #mobile-picture-1,
  #mobile-picture-2,
  #mobile-picture-3 {
    background: url(./images/courthouse.jpg) no-repeat,
      linear-gradient(
        180deg,
        rgba(190, 223, 255, 1) 0%,
        rgba(202, 232, 255, 0.8) 25%,
        rgba(243, 253, 254, 0.3) 70%
      );
    padding: 0;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 100%;
    height: 96vh;

    display: block;
  }

  #mobile-picture-2 {
    background: url(./images/buhl_julia_bridge.png) no-repeat center;
  }
  #mobile-picture-3 {
    background: url(./images/444_flags.jpg) no-repeat center;
  }

  .footer-anchor-nav-scrollIn {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }

  footer > #mobileFooter {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer-list-item:active {
    color: #0d6efd;
  }

  #footerLinkList {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 624px) {
  header h1.landing-intro {
    font-size: 4rem;
  }
  #work-content-mobile .container,
  #amenities-content-mobile .container,
  #live-content-mobile .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/********************** FANCY BUTTON EFFECT **********************/
/**********************  **********************/
.flash-slide {
  border: medium none;
  display: inline-block;
  color: rgb(255, 255, 255);
  /* margin: 20px; */
  /* width: 180px; */
  /* height: 50px; */
  /* border-radius: 10px; */
  position: relative;
  overflow: hidden;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* font-family: Helvetica; */
  text-align: center;
}

.flash-slide::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}

.flash-slide:hover::before {
  left: 190px;
  transition: all 0.5s ease 0s;
}

.flash-slide--blue {
  background: rgb(61, 135, 255);
}

/************************* HOVER COLOR BUTTON *************************/
.btn-background-slide {
  width: 12.5rem;
  /* padding: 6px; */
  height: 50px;
  background-color: #0d6efd;
  color: #f8f9fa;
  text-align: center;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  border: 1px solid rgb(51, 51, 51);
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  /* transition: filter 0.1s ease-in-out; */
  cursor: pointer;
  box-shadow: rgb(51, 51, 51) 0px 0px 0px;
}

.btn-background-slide:hover {
  box-shadow: #246eb9 8px 8px 0px, #f06543 -8px -8px 0px;
  border-bottom: 1px solid #0d1b2a;
  border-right: 1px solid #0d1b2a49;
}

.btn-background-slide:hover .btn-background-slide-bg {
  opacity: 1;
  transform: translateZ(0px);
}

.btn-background-slide:active {
  position: relative;
  /* filter: invert(1); */
  box-shadow: #246eb9 8px 8px 0px, #f06543 -8px -8px 0px;
  top: 2px;
}

/******************************** FANCY BUTTON EFFECT ********************************/

/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/****************************** STAGGERED LOADING ANIMATION ******************************/
.scrollIn {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .scrollIn {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.work-scrollIn-class:nth-of-type(1),
.amenities-scrollIn:nth-child(1),
.footer-anchor-nav-scrollIn:nth-child(1) {
  transition-delay: 100ms;
}
.work-scrollIn-class:nth-child(2),
.amenities-scrollIn:nth-child(2),
.footer-anchor-nav-scrollIn:nth-child(2) {
  transition-delay: 200ms;
}
.work-scrollIn-class:nth-child(3),
.amenities-scrollIn:nth-child(3),
.footer-anchor-nav-scrollIn:nth-child(3) {
  transition-delay: 300ms;
}
.work-scrollIn-class:nth-child(4),
.amenities-scrollIn:nth-child(4),
.footer-anchor-nav-scrollIn:nth-child(4) {
  transition-delay: 400ms;
}
.work-scrollIn-class:nth-child(5),
.amenities-scrollIn:nth-child(5),
.footer-anchor-nav-scrollIn:nth-of-type(5) {
  transition-delay: 500ms;
}

/* .amenities-scrollIn:nth-child(1) {
  transition-delay: 100ms;
} */
/* .amenities-scrollIn:nth-child(2) {
  transition-delay: 200ms;
} */
/* .amenities-scrollIn:nth-child(3) {
  transition-delay: 300ms;
} */
/* .amenities-scrollIn:nth-child(4) {
  transition-delay: 400ms;
} */
/* .amenities-scrollIn:nth-child(5) {
  transition-delay: 500ms;
} */

/****************************** END STAGGERED ANIMATION ******************************/
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/

.transparent-background {
  background-color: rgba(0, 0, 0, 0);

  opacity: 0;
  /* background-color: #f8f9fa00; */
  /* background-color: black !important; */
}

.solid-background {
  opacity: 1;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
