html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
html {
  font-family: 'Quicksand', sans-serif;
}
nav {
  animation: 1s ease-in 0s 1 fadeIn;
}

.nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav-item a:hover {
  position: relative;
  top: 0.1rem;
}
.nav-item a:active {
  position: relative;
  top: 0.2rem;
}
.nav-link:hover {
  position: relative;
  top: 5rem;
}
.nav-item:nth-of-type(2) {
  border-left: none;
}
.nav-item:nth-of-type(3) {
  border-left: none;
}
.nav-item:nth-of-type(4) {
  border-left: none;
}
.nav-item:nth-of-type(5) {
  border-left: none;
}

.navbar-collapse.show,
.collapsing {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px 2px 15px 15px;
}

header {
  background: url(./img/landing_placeholder.jpg) no-repeat center center fixed;
  margin: 0 auto;
  height: 96vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header-div {
  position: relative;
  bottom: 5rem;
}

/* Header Message */
.landing-intro {
  /* margin: 0; */
  animation: 1s ease-in 0s 1 fadeIn;
  background-color: rgba(0, 167, 225, 0.5);
  background-color: #0d1b2a;
  background-color: rgba(13, 27, 42, 0.85);

  /* box-shadow: 1px 3px 72px 11px rgba(0, 0, 0, 0.69); */
  /* border-radius: 25px; */
  /* max-width: 80%; */

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  /* padding-right: 2rem; */
}

#tour-btn-div {
  justify-self: flex-end !important;
  align-self: flex-end;
  animation: 1s ease-in 0s 1 fadeIn;
}

#tour-btn-arrow {
  position: relative;
  top: 0.3rem;
}

/* 
#tour-btn {
  background-color: ;
} */

main {
  height: 50rem;
}
/* div {
  background: white;
  width: 100%;
  height: 40rem;
} */

section:nth-of-type(1) {
  background: url(./img/windy_road.jpg) no-repeat 15% 25% fixed;
  height: 96vh;
}

.transform-45 {
  transform: skew(45);
}

#amenities-section {
  display: flex;
  justify-content: end;
  /* overflow: hidden; */
}

/* ORIGINAL DIAGONAL SKEW */
/* #amenities-diagonal {
  max-width: 55%;
  margin: 0;
  height: 100%;
  position: relative;
  left: 5rem;
  transform: skewX(-10deg);
}

#amenities {
 
  transform: skewY(10deg);
 
} */
.diagonal-box {
  /* background-image: linear-gradient(45deg, #6303b1, #ff0099); */
  transform: skew(-20deg);
  width: 70%;
  position: relative;
  left: 11rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;

  transform: skew(20deg);
}
