:root {
  /* --font-family: 'Quicksand', sans-serif; */
  --font-family: 'Quattrocento Sans', sans-serif;
  /* font-family: 'Quattrocento Sans', sans-serif; */
  --vibrant-orange: #f06543;
  --soft-white: #f8f9fa;
  --padding-t: 7rem;
  --mobile-padding-X: 1rem;

  --numeric-values-font-size: 6rem;
  --numeric-h2-font-size: 4rem;
  --section-margin-y: 6rem;
}

html,
body {
  font-family: var(--font-family);
  /* scroll-behavior: smooth; */
  scroll-behavior: auto;
  /* scroll-snap-type: both; */
  /* overflow-x: hidden; */
  overflow-y: scroll;
  /* font-size: 0.5rem; */
}

/* .overlay { 
   position: fixed; 
   overflow-y: scroll;
   inset: 0; } */

nav {
  animation: 1s ease-in 0s 1 fadeIn;
}

.nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav-item a:hover {
  position: relative;
  top: 0.1rem;
}
.nav-item a:active {
  position: relative;
  top: 0.2rem;
}
.nav-link:hover {
  position: relative;
  top: 5rem;
}
.nav-item:nth-of-type(2),
.nav-item:nth-of-type(3),
.nav-item:nth-of-type(4),
.nav-item:nth-of-type(5) {
  border-left: none;
}

.navbar-collapse.show,
.collapsing {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px 2px 15px 15px;
}

header {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--soft-white); */
  background: linear-gradient(
      rgba(248, 249, 250, 0.55),
      rgba(248, 249, 250, 0.55)
    ),
    url(../../images/work-stock-1.jpg) 55% 62.5%;
}

header h1,
p {
  position: relative;
  top: 1rem;
}

header p.lead {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.2rem;
}

h1.display-1 {
  font-weight: 500;
  font-size: 6.5rem;
}

main {
  background-color: var(--vibrant-orange);
  margin-top: var(--section-margin-y);
  margin-bottom: var(--section-margin-y);
  /* height: 70vh; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

main div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-basis: 60ch; */
}

main div h2.display-2 {
  padding-left: var(--mobile-padding-X);
  padding-right: var(--mobile-padding-X);
  font-size: var(--numeric-h2-font-size);
}

main div h2:nth-of-type(1) {
  padding-top: var(--padding-t);
}
main div h2:nth-of-type(2) {
  padding-bottom: var(--padding-t);
  padding-top: var(--padding-t);
}
main div h2:nth-of-type(3) {
  padding-bottom: var(--padding-t);
}

/* main div h2 span {
} */

.numericals {
  display: inline-block;
  min-width: 20%;
  font-size: var(--numeric-values-font-size);
}

/* #two {
  min-width: 10%;
} */

/* main div:nth-of-type(1) {
} */

@media only screen and (max-width: 980px) {
  header {
    align-items: flex-start;
  }
}
